# IPython
**.ipynb_checkpoints
profile_default/
ipython_config.py

# Python
cython_debug/
*__pycache__/
*.py[cod]

# data
*.zip
*.csv
*.txt

# scratch
*scratch*

# OS
**.DS_Store
*.idea
.vscode

# project
.env
environment.yml

# build
dist
build
markdowntest.egg-info